<!doctype html>
<html>
<head>
  <title>Rad</title>
<head>
<body>
  <h1>This is Rad</h1>
  <img src="http://d2rormqr1qwzpz.cloudfront.net/photos/2014/09/01/67259-my-r200-grill-restoration-brass.jpg" style="max-width: 100%"/>
</body>
</head>