<!doctype html>
<html>
<head>
  <title>Rad</title>
  <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
    }
    #the-radio {
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  </style>
</head>
<body>
  <img src="https://s-media-cache-ak0.pinimg.com/736x/67/0b/5f/670b5f0005a2dc28fdc2d07fa18fe706.jpg" id="the-radio"/>
</body>
</html>
