<!doctype html>
<html lang="en">
<head>
  <title>Rad</title>
  <link href="base.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
</head>
<body class="state-rest_of_the_world" onclick="playAll();">
  <div id="secret_youtube_players">
    <!-- secret YouTube players go here - please don't look -->
    <audio class="station" id="station-the_pusher_office" controls src="http://80.86.106.136:80/;"></audio> <!-- KissFM Romania -->
    <audio class="station" id="station-food" controls src="http://viadj.viastreaming.net:7090/;"></audio> <!-- Bollywood hits -->
    <audio class="station" id="station-box_park" controls src="http://uk2.internet-radio.com:30252/;"></audio> <!-- Dance UK Radio, sponsored by Bellash -->
    <audio class="station" id="station-rest_of_the_world" controls src="http://us2.internet-radio.com:8085/;"></audio> <!-- Radio Paz -->
    <audio class="station" id="station-pub" controls src="http://us2.internet-radio.com:8137/;"></audio> <!-- Radio Paz -->
  </div>
  <div class="player">
    <div class="radio-channel">
      <span class="radio-channel__live">Live</span>
      <h1 class="radio-channel__name" id="channel-name">Click here</h1>
    </div>
    <div class="grill"></div>
  </div>
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script src="fetch.js"></script>
  <script src="geohash.js"></script>
  <script src="rad.js"></script>

  <script>
    function playAll() {
      var stations = document.getElementsByClassName("station");
      for (var i = 0; i < stations.length; i++) {
        stations[i].volume = 0;
        stations[i].play();
      }

      startRad();
    }
  </script>
  <script>

    function changeUiColor() {
      var newState = Math.floor(Math.random() * 3) + 1;

      var newStateClass = " state-" +  newState;

      document.getElementsByTagName('body')[0].classList.remove("state-1", "state-2", "state-3");

      document.getElementsByTagName('body')[0].className += newStateClass;
    }

    window.setInterval(function() {
      changeUiColor();
    }, 2000);
  </script>
  <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
